<router-outlet></router-outlet>
<div *ngIf="weatherData">
  <h1>Current Weather</h1>
  <p>Temperature: {{ weatherData.current.temperature_2m }}°C</p>
  <p>Wind Speed: {{ weatherData.current.wind_speed_10m }} m/s</p>

  <h2>Hourly Forecast</h2>
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Temperature (°C)</th>
        <th>Relative Humidity (%)</th>
        <th>Wind Speed (m/s)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of weatherData.hourly.time">
        <td>{{ weatherData.hourly.time[i] }}</td>
        <td>{{ weatherData.hourly.temperature_2m[i] }}</td>
        <td>{{ weatherData.hourly.relative_humidity_2m[i] }}</td>
        <td>{{ weatherData.hourly.wind_speed_10m[i] }}</td>
      </tr>
    </tbody>
  </table>
</div>
